<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="editor">Level editor</a></li>
</ul>
<br>
<label for="height">Grid height</label>
<input type="number" id="height" name="height" value="5" min="5" onchange="render_grid()">
<label for="width">Grid width</label>
<input type="number" id="width" name="width" value="5" min="5" onchange="render_grid()">
<label for="draw">Choose type of tile to draw</label>
<select name="draw" id="draw">
    <option value="obstacle">obstacle</option>
    <option value="goal">goal</option>
    <option value="death">death</option>
</select>
<label for="grid_name">Grid name</label>
<input type="text" id="grid_name" name="name">
<button onclick="save_grid()">Save grid</button>
<div class="container" id="grid_container"></div>
</body>
<script>
    function render_grid(save = false, name = '') {
        var obstacles = document.getElementsByClassName("cell_obstacle");
        var ob_coords = Array();
        for (var i = 0; i < obstacles.length; i++) {
            ob_coords.push(obstacles[i].id);
        }
        var goals = document.getElementsByClassName("cell_goal");
        var go_coords = Array();
        for (var i = 0; i < goals.length; i++) {
            go_coords.push(goals[i].id);
        }
        var deaths = document.getElementsByClassName("cell_death");
        var d_coords = Array();
        for (var i = 0; i < deaths.length; i++) {
            d_coords.push(deaths[i].id);
        }
        var height = document.getElementById('height').value;
        var width = document.getElementById('width').value;
        $.ajax({
            url: '/build_grid',
            type: 'GET',
            data: {
                height: height,
                width: width,
                obstacles: '[' + ob_coords.join(',') + ']',
                goals: '[' + go_coords.join(',') + ']',
                deaths: '[' + d_coords.join(',') + ']',
                save: save,
                name: name
            },
            success: function (data) {
                document.getElementById('grid_container').innerHTML = data['grid'];
                if ((save === true) && (data['success'] === 'true')) {
                    alert('Grid saved!');
                }
            }
        });
    }

    function tile_click(x, y) {
        var tile = document.getElementById("(" + x + "," + y + ")");
        var type = document.getElementById('draw').value;
        if ((tile.className == 'cell_obstacle') || (tile.className == 'cell_goal') || (tile.className == 'cell_death')) {
            tile.className = 'cell_dirty';
        } else if ((tile.className == 'cell_dirty') && (type == 'obstacle')) {
            tile.className = 'cell_obstacle';
        } else if ((tile.className == 'cell_dirty') && (type == 'goal')) {
            tile.className = 'cell_goal';
        } else if ((tile.className == 'cell_dirty') && (type == 'death')) {
            tile.className = 'cell_death';
        }
    }

    function save_grid() {
        name = document.getElementById('grid_name').value;
        if (name) {
            render_grid(save = true, name = name);
        } else {
            alert('Please insert a name first!');
        }
    }

    render_grid();
</script>
</html>