{% macro tile(x, y, room_config, values) -%}
    <small class="{{ materials[room_config[x][y]] }}" id="({{ x }},{{ y }})" onclick="tile_click('{{ x }}', '{{ y }}')">
        {% if values is defined and values is not none %}
        {{ "%0.2f" | format(values[x][y]) }}
        {% endif %}

    </small>
{%- endmacro %}

<div class="grid"
     style="grid-template-columns: repeat({{ n_cols }}, {{ height }}px);grid-template-rows: repeat({{ n_rows }}, {{ width }}px);">
    {% for y in range(n_rows) %}
        {% for x in range(n_cols) %}
            {{ tile(x, y, room_config, values) }}
        {% endfor %}
    {% endfor %}
</div>

